appdirs==1.4.4
autopep8==2.3.1
build==1.2.1
buildozer @ https://github.com/kivy/buildozer/archive/refs/heads/master.zip#sha256=ecb1f5022398e00994f7df0c30e9d9db44bd9129703433036b6fb4aa496ba3f5
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
Cython==0.29.37
docutils==0.21.2
ffpyplayer==4.5.1
idna==3.7
Jinja2==3.1.4
Kivy==2.3.0
Kivy-Garden==0.1.5
MarkupSafe==2.1.5
packaging==24.1
pexpect==4.9.0
pillow==10.3.0
ptyprocess==0.7.0
pycodestyle==2.12.0
Pygments==2.18.0
pyproject_hooks==1.1.0
requests==2.32.3
sh==1.14.3
toml==0.10.2
urllib3==2.2.2
